<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!--    <bean id = "paymentService" class = "com.xmlbasedconfigdemo.payment.PaymentService">-->
<!--        <constructor-arg index="0" value="UPI"/>-->
<!--        <constructor-arg index="1" value="3"/>-->
<!--    </bean>-->

<!--&lt;!&ndash;    //setter Injection&ndash;&gt;-->
<!--    <bean id = "orderService" class = "com.xmlbasedconfigdemo.OrderService">-->
<!--        <property name="paymentService" ref="paymentService"/>-->
<!--    </bean>-->

<!--    //Constructor injection-->
<!--    <bean id = "orderService" class = "com.xmlbasedconfigdemo.OrderService">-->
<!--            <constructor-arg ref="paymentService"/>-->
<!--    </bean>-->
   <!-- <bean id = "orderService2" class = "com.xmlbasedconfigdemo.OrderService"/> -->


<!--    <bean id="upiPaymentService" class="com.xmlbasedconfigdemo.payment.UPIPaymentService"/>-->

<!--    <bean id="cardPaymentService" class="com.xmlbasedconfigdemo.payment.CardPaymentService"/>-->

<!--    <bean id="orderService" class="com.xmlbasedconfigdemo.OrderService">-->
<!--        <constructor-arg ref="upiPaymentService"/>-->
<!--    </bean>-->

<!--    <bean id="userService"-->
<!--          class="com.xmlbasedconfigdemo.UserService">-->
<!--          <constructor-arg name="usernames">-->
<!--             <list>-->
<!--                 <value>Shrey</value>-->
<!--                 <value>Somu</value>-->
<!--                 <value>Shreya</value>-->
<!--             </list>-->
<!--          </constructor-arg>-->
<!--    </bean>-->
<!--          scope="prototype"/>-->

    <bean id="userService"
          class="com.xmlbasedconfigdemo.UserService"
          init-method="init" destroy-method="cleanUp"/>
</beans>
